/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Linotype";
  src: url(./fonts/Linotype_Bold.otf?6ab1db40af4f15a53c99b349c9f3cf78);
  font-weight: bold;
}

@font-face {
  font-family: "Linotype";
  src: url(./fonts/Linotype_Light.otf?fb26baa6d03b1a870bdba92eca26208e);
  font-weight: 300;
}

@font-face {
  font-family: "Linotype";
  src: url(./fonts/Linotype_Roman.otf?fab9c37e52e644d51618827111e98409);
  font-weight: normal;
}

* {
  font-family: "Linotype" !important;
}

body {
  background-color: #05051a;
}

.container {
  width: 1160px;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

header {
  display: flex;
  justify-content: center;
}

header .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 0 37px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}

@media (max-width: 1200px) {
  header .wrap {
    justify-content: center;
    padding: 13px 0 18px;
  }
}

header .wrap a.logo {
  margin-left: 12px;
  text-decoration: none;
}

header .wrap a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 65px;
  border-radius: 32px;
  box-shadow: 0 7px 48px -9px #00a1d9;
  background-color: #00a1d9;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 1200px) {
  header .wrap a.btn {
    display: none;
  }
}

section.landing {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(./images/w_B.svg?4867e2729d5a4d0fb40c9b3839315e7e);
  background-position: top center;
  background-repeat: no-repeat;
  padding: 92px 0 159px;
}

@media (max-width: 1200px) {
  section.landing {
    padding: 51px 0 33px;
    background-size: 616px 415px;
  }
}

section.landing .wrap {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 40px;
}

@media (max-width: 1200px) {
  section.landing .wrap {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

section.landing .wrap .info {
  grid-column: span 7;
  margin-top: 5px;
  position: relative;
}

@media (max-width: 1200px) {
  section.landing .wrap .info {
    grid-column: span 2;
    grid-row: 2/3;
  }
}

section.landing .wrap .info a.scroll {
  position: absolute;
  bottom: 120px;
  right: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: linear-gradient(134deg, #00cfee 13%, #00cfee 13%, #00a4db 52%, #00a1d9 98%);
  text-decoration: none;
}

section.landing .wrap .info h1 {
  margin-bottom: 17px;
}

section.landing .wrap .info h1 strong {
  color: #049ed9;
}

section.landing .wrap .info p {
  margin-bottom: 37px;
}

@media (max-width: 1200px) {
  section.landing .wrap .info p {
    margin-bottom: 28px;
  }
}

section.landing .wrap .info a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 308px;
  height: 70px;
  border-radius: 35px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #258aff;
  margin-bottom: 44px;
  -webkit-animation: pulse 1.5s infinite ease-in-out;
          animation: pulse 1.5s infinite ease-in-out;
}

@media (max-width: 1200px) {
  section.landing .wrap .info a.btn {
    width: 100%;
    margin-bottom: 36px;
  }
}

section.landing .wrap .info .num-list {
  margin-bottom: 94px;
}

@media (max-width: 1200px) {
  section.landing .wrap .info .num-list {
    margin-bottom: 50px;
  }
}

section.landing .wrap .info div.store {
  display: flex;
  flex-direction: column;
}

section.landing .wrap .info div.store span {
  margin-bottom: 14px;
  font-size: 22px;
  font-weight: 300;
  line-height: normal;
  color: #258aff;
}

@media (max-width: 1200px) {
  section.landing .wrap .info div.store span {
    font-size: 16px;
  }
}

section.landing .wrap .info div.store div {
  display: flex;
}

section.landing .wrap .info div.store div a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71px;
  height: 71px;
  border-radius: 50%;
  margin-right: 29px;
  border: 1px solid #258aff;
}

@media (max-width: 1200px) {
  section.landing .wrap .info div.store div a {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
}

section.landing .wrap .info div.store div a:last-of-type {
  margin-right: 0;
}

@media (max-width: 1200px) {
  section.landing .wrap .info div.store div a img {
    max-width: 25px;
    max-height: 25px;
  }
}

section.landing .wrap .media {
  position: relative;
  grid-column: 9/12;
  text-align: end;
}

@media (max-width: 1200px) {
  section.landing .wrap .media {
    grid-column: span 2;
    grid-row: 1/2;
    text-align: center;
    margin-bottom: 46px;
    display: flex;
    justify-content: center;
  }
}

section.landing .wrap .media .media-wrap {
  position: relative;
}

@media (max-width: 1200px) {
  section.landing .wrap .media .media-wrap {
    width: 97px;
  }
}

section.landing .wrap .media img {
  position: absolute;
  top: 0;
}

section.landing .wrap .media img.phone {
  position: relative;
}

@media (max-width: 1200px) {
  section.landing .wrap .media img.phone {
    width: 97px;
  }
}

section.landing .wrap .media img.card {
  top: 284px;
  right: -57px;
}

@media (max-width: 1200px) {
  section.landing .wrap .media img.card {
    top: 126px;
    right: -48px;
    width: 147px;
  }
}

section.landing .wrap .media img.gift {
  left: -140px;
  top: 223px;
}

@media (max-width: 1200px) {
  section.landing .wrap .media img.gift {
    width: 88px;
    left: -104px;
    top: 99px;
  }
}

section.landing .wrap .media img.money {
  top: 70px;
  right: -155px;
}

@media (max-width: 1200px) {
  section.landing .wrap .media img.money {
    width: 100px;
    top: -15px;
    right: -104px;
  }
}

section.card-info {
  display: flex;
  justify-content: center;
  margin-bottom: 202px;
}

@media (max-width: 1200px) {
  section.card-info {
    margin-bottom: 150px;
  }
}

section.card-info .wrap {
  display: flex;
}

@media (max-width: 1200px) {
  section.card-info .wrap {
    flex-direction: column;
  }
}

section.card-info .wrap figure {
  margin-right: 40px;
}

@media (max-width: 1200px) {
  section.card-info .wrap figure {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 1200px) {
  section.card-info .wrap figure img {
    width: 100%;
  }
}

section.card-info .wrap .content .title {
  margin-bottom: 21px;
}

@media (max-width: 1200px) {
  section.card-info .wrap .content .title {
    margin-bottom: 10px;
  }
}

section.card-info .wrap .content .text {
  margin-bottom: 38px;
  font-feature-settings: inherit;
}

@media (max-width: 1200px) {
  section.card-info .wrap .content .text {
    margin-bottom: 30px;
  }
}

section.alert {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  section.alert {
    padding: 0 15px;
  }
}

section.alert .wrap {
  position: relative;
  margin-left: -17px;
  width: 1174px;
  height: 342px;
  padding: 70px 120px 60px;
  box-sizing: border-box;
  border-radius: 58px;
  background-image: linear-gradient(91deg, #227eeb -25%, #258aff 1%, #00a4db 51%, #00a1d9 112%);
}

@media (max-width: 1200px) {
  section.alert .wrap {
    width: 100%;
    margin: 0;
    height: 405px;
    padding: 169px 34px 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

section.alert .wrap .title {
  width: 570px;
  margin-bottom: 44px;
}

@media (max-width: 1200px) {
  section.alert .wrap .title {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
  }
}

section.alert .wrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 308px;
  height: 70px;
  border-radius: 35px;
  border: 1px solid #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

section.alert .wrap a:hover {
  background-color: #ffffff;
  color: #00a4db;
}

@media (max-width: 1200px) {
  section.alert .wrap a {
    width: 100%;
  }
}

section.alert .wrap img {
  position: absolute;
  top: -126px;
  right: 0;
}

@media (max-width: 1200px) {
  section.alert .wrap img {
    top: -145px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
  }
}

section.info {
  display: flex;
  justify-content: center;
  background-color: #fefdfd;
  position: relative;
  margin-top: 170px;
}

@media (max-width: 1200px) {
  section.info {
    margin-top: 130px;
    background-color: #fffffe;
  }
}

section.info::before {
  content: "";
  position: absolute;
  top: -168px;
  width: 100%;
  height: 170px;
  background-image: url(./images/shape_lg.png?815d20264381f5119787591a0a5706f2);
  background-repeat: no-repeat;
  background-size: 100% 170px;
  background-position: center;
}

@media (max-width: 1200px) {
  section.info::before {
    background-image: url(./images/shape_md.png?992c96d7d945f6810029d6bb2bd31a65);
    background-size: 1304px 130px;
    background-position: right;
    top: -128px;
    width: 100%;
    height: 130px;
  }
}

section.info::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 833px;
  bottom: 0;
  background-image: url(./images/w_S.svg?c8760c271127a9303ee1eb25a7b37c5e);
  background-repeat: no-repeat;
  background-size: 1240px 833px;
  background-position: top left calc((100vw - 1160px) / 2 + 683px);
  z-index: 2;
}

@media (max-width: 1200px) {
  section.info::after {
    background-size: 615px 413px;
    background-position: bottom 20px left 97px;
  }
}

section.info .wrap {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 40px;
  padding-bottom: 95px;
  align-items: center;
}

@media (max-width: 1200px) {
  section.info .wrap {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-bottom: 83px;
  }
}

section.info .wrap .content {
  grid-column: span 10;
}

@media (max-width: 1200px) {
  section.info .wrap .content {
    grid-column: span 2;
    grid-row: span 1;
  }
}

section.info .wrap .content .title {
  color: #020280;
  margin-bottom: 18px;
}

section.info .wrap .content .text {
  font-feature-settings: initial;
  margin-bottom: 49px;
  width: 600px;
}

@media (max-width: 1200px) {
  section.info .wrap .content .text {
    width: 100%;
    margin-bottom: 30px;
  }
}

section.info .wrap .content .list {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  section.info .wrap .content .list {
    margin-bottom: 40px;
  }
}

section.info .wrap .content .list .item {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

section.info .wrap .content .list .item:last-of-type {
  margin-bottom: 0;
}

section.info .wrap .content .list .item i {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  margin-right: 35px;
  border-radius: 17px;
  border: 1px solid #258aff;
  background-color: rgba(7, 194, 245, 0.07);
  background-image: url(./images/check.svg?89691cd849e0c61b499404e2992c17b7);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1200px) {
  section.info .wrap .content .list .item i {
    margin-right: 20px;
  }
}

section.info .wrap .content .list .item span {
  font-size: 22px;
  font-weight: 300;
  color: #020280;
}

@media (max-width: 1200px) {
  section.info .wrap .content .list .item span {
    font-size: 16px;
    font-weight: normal;
  }
}

section.info .wrap figure {
  grid-column: 12/-1;
}

@media (max-width: 1200px) {
  section.info .wrap figure {
    grid-column: span 2;
    grid-row: span 1;
  }
}

@media (max-width: 1200px) {
  section.info .wrap figure img {
    width: 277px;
    max-width: 100%;
  }
}

section.contact {
  display: flex;
  justify-content: center;
  padding: 77px 0 60px;
}

@media (max-width: 1200px) {
  section.contact {
    padding: 56px 0 50px;
  }
}

section.contact .wrap {
  display: flex;
  flex-direction: column;
}

section.contact .wrap .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

@media (max-width: 1200px) {
  section.contact .wrap .head {
    margin-bottom: 29px;
  }
}

section.contact .wrap .head h3 {
  width: 500px;
  margin-left: 10px;
}

@media (max-width: 1200px) {
  section.contact .wrap .head h3 {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  section.contact .wrap .head img {
    display: none;
  }
}

section.contact .wrap > .list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}

@media (max-width: 1200px) {
  section.contact .wrap > .list {
    flex-direction: column;
    margin-bottom: 37px;
  }
}

section.contact .wrap > .list .item {
  display: flex;
  padding-top: 34px;
  width: 354px;
  height: 167px;
  box-sizing: border-box;
  border-radius: 28px;
  border: 1px solid #258aff;
}

@media (max-width: 1200px) {
  section.contact .wrap > .list .item {
    width: 100%;
    margin-bottom: 32px;
    padding-right: 15px;
  }
}

section.contact .wrap > .list .item:nth-of-type(1) figure {
  margin-left: 36px;
}

section.contact .wrap > .list .item:nth-of-type(2) figure {
  margin-left: 29px;
}

@media (max-width: 1200px) {
  section.contact .wrap > .list .item:nth-of-type(3) {
    margin-bottom: 0;
  }
}

section.contact .wrap > .list .item:nth-of-type(3) figure {
  margin-left: 22px;
}

section.contact .wrap > .list .item figure {
  margin-right: 28px;
}

section.contact .wrap > .list .item div {
  display: flex;
  flex-direction: column;
}

section.contact .wrap > .list .item div span {
  font-size: 41px;
  font-weight: bold;
  line-height: 0.78;
  color: #258aff;
  margin-bottom: 12px;
  font-feature-settings: "case" 1;
}

@media (max-width: 1200px) {
  section.contact .wrap > .list .item div span {
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 4px;
  }
}

section.contact .wrap > .list .item div p {
  width: 230px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.22;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1200px) {
  section.contact .wrap > .list .item div p {
    width: 100%;
    font-size: 20px;
    line-height: 28px;
  }
}

section.contact .wrap .mastercard {
  display: none;
}

@media (max-width: 1200px) {
  section.contact .wrap .mastercard {
    display: block;
    margin-bottom: 42px;
  }
}

section.contact .wrap h4 {
  padding-left: 10px;
}

@media (max-width: 1200px) {
  section.contact .wrap h4 {
    padding-left: 0;
    margin-bottom: 20px;
  }
}

section.contact .wrap .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  section.contact .wrap .info {
    flex-direction: column;
    align-items: flex-start;
  }
}

section.contact .wrap .info .list {
  display: flex;
  flex-direction: column;
}

section.contact .wrap .info .list .item {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

section.contact .wrap .info .list .item:last-of-type {
  margin-bottom: 21px;
}

section.contact .wrap .info .list .item figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 26px;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 17px;
  border: 1px solid #258aff;
  background-color: rgba(7, 194, 245, 0.07);
}

section.contact .wrap .info .list .item a {
  font-size: 22px;
  font-weight: 300;
  line-height: normal;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

section.contact .wrap .info .map {
  width: 650px;
  height: 278px;
  border-radius: 28px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  section.contact .wrap .info .map {
    width: 100%;
    height: 278px;
  }
}

section.contact .wrap .info .map iframe {
  width: 100%;
  height: 100%;
}

.num-list {
  display: flex;
  flex-direction: column;
}

.num-list .item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.num-list .item:last-of-type {
  margin-bottom: 0;
}

.num-list .item i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 17px;
  border: 1px solid #258aff;
  background-color: rgba(7, 194, 245, 0.07);
  color: #258aff;
  font-size: 16px;
  font-weight: bold;
}

.num-list .item span {
  font-size: 22px;
  font-weight: 300;
  line-height: normal;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1200px) {
  .num-list .item span {
    font-size: 16px;
  }
}

.title {
  color: #fffffe;
  font-size: 40px;
  line-height: 53px;
  font-weight: bold;
  font-feature-settings: "case" 1;
}

@media (max-width: 1200px) {
  .title {
    font-size: 30px;
    line-height: 33px;
  }
}

.text {
  font-size: 22px;
  font-weight: 300;
  color: #00a1d9;
  line-height: normal;
  font-feature-settings: "case" 1;
}

@media (max-width: 1200px) {
  .text {
    font-size: 16px;
  }
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 5px 37px 0px rgba(0, 161, 217, 0.4), inset 0 0 35px -10px rgba(1, 209, 210, 0.3);
  }

  50% {
    box-shadow: 0 5px 37px 10px rgba(0, 161, 217, 0.4), inset 0 0 35px -10px rgba(1, 209, 210, 0.3);
  }

  100% {
    box-shadow: 0 5px 37px 0px rgba(0, 161, 217, 0.4), inset 0 0 35px -10px rgba(1, 209, 210, 0.3);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 5px 37px 0px rgba(0, 161, 217, 0.4), inset 0 0 35px -10px rgba(1, 209, 210, 0.3);
  }

  50% {
    box-shadow: 0 5px 37px 10px rgba(0, 161, 217, 0.4), inset 0 0 35px -10px rgba(1, 209, 210, 0.3);
  }

  100% {
    box-shadow: 0 5px 37px 0px rgba(0, 161, 217, 0.4), inset 0 0 35px -10px rgba(1, 209, 210, 0.3);
  }
}

