@import "variable";
@import "reset";
@import "fonts";
@import "base";

header {
    display: flex;
    justify-content: center;

    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 29px 0 37px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.17);

        @include md {
            justify-content: center;
            padding: 13px 0 18px;
        }

        a.logo {
            margin-left: 12px;
            text-decoration: none;
        }

        a.btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 260px;
            height: 65px;
            border-radius: 32px;
            box-shadow: 0 7px 48px -9px #00a1d9;
            background-color: #00a1d9;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;

            @include md {
                display: none;
            }
        }
    }
}

section.landing {
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url(./images/w_B.svg);
    background-position: top center;
    background-repeat: no-repeat;
    padding: 92px 0 159px;

    @include md {
        padding: 51px 0 33px;
        background-size: 616px 415px;
    }

    .wrap {
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 40px;

        @include md {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
        }

        .info {
            grid-column: span 7;
            margin-top: 5px;
            position: relative;

            @include md {
                grid-column: span 2;
                grid-row: 2 / 3;
            }

            a.scroll {
                position: absolute;
                bottom: 120px;
                right: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-image: linear-gradient(134deg, #00cfee 13%, #00cfee 13%, #00a4db 52%, #00a1d9 98%);
                text-decoration: none;
            }

            h1 {
                margin-bottom: 17px;

                strong {
                    color: #049ed9;
                }
            }

            p {
                margin-bottom: 37px;

                @include md {
                    margin-bottom: 28px;
                }
            }

            a.btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 308px;
                height: 70px;
                border-radius: 35px;
                text-decoration: none;
                font-size: 18px;
                font-weight: bold;
                color: #ffffff;
                box-shadow: 0 5px 37px 3px rgba(#00a1d9, 0.4), inset 0 0 35px -10px rgba(1, 209, 210, 0.3);
                border: 1px solid #258aff;
                margin-bottom: 44px;

                @include md {
                    width: 100%;
                    margin-bottom: 36px;
                }
            }

            .num-list {
                margin-bottom: 94px;

                @include md {
                    margin-bottom: 50px;
                }
            }

            div.store {
                display: flex;
                flex-direction: column;

                span {
                    margin-bottom: 14px;
                    font-size: 22px;
                    font-weight: 300;
                    line-height: normal;
                    color: #258aff;

                    @include md {
                        font-size: 16px;
                    }
                }

                div {
                    display: flex;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 71px;
                        height: 71px;
                        border-radius: 50%;
                        margin-right: 29px;
                        border: 1px solid #258aff;

                        @include md {
                            width: 50px;
                            height: 50px;
                            margin-right: 20px;
                        }

                        &:last-of-type {
                            margin-right: 0;
                        }

                        img {
                            @include md {
                                max-width: 25px;
                                max-height: 25px;
                            }
                        }
                    }
                }
            }
        }

        .media {
            position: relative;
            grid-column: 9 / 12;
            text-align: end;

            @include md {
                grid-column: span 2;
                grid-row: 1 / 2;
                text-align: center;
                margin-bottom: 46px;
            }

            img {
                position: absolute;
                top: 0;

                &.phone {
                    position: relative;

                    @include md {
                        width: 97px;
                    }
                }

                &.card {
                    top: 284px;
                    right: -57px;

                    @include md {
                        top: 126px;
                        right: 68px;
                        width: 147px;
                    }
                }

                &.gift {
                    left: -140px;
                    top: 223px;

                    @include md {
                        width: 71px;
                    }
                }

                &.money {
                    top: 70px;
                    right: -155px;

                    @include md {
                        width: 90px;
                        right: 0;
                    }
                }
            }
        }
    }
}

section.card-info {
    display: flex;
    justify-content: center;
    margin-bottom: 202px;

    @include md {
        margin-bottom: 150px;
    }

    .wrap {
        display: flex;

        @include md {
            flex-direction: column;
        }

        figure {
            margin-right: 40px;

            @include md {
                margin-right: 0;
                margin-bottom: 30px;
            }

            img {
                @include md {
                    width: 100%;
                }
            }
        }

        .content {
            .title {
                margin-bottom: 21px;

                @include md {
                    margin-bottom: 10px;
                }
            }

            .text {
                margin-bottom: 38px;
                font-feature-settings: inherit;

                @include md {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

section.alert {
    display: flex;
    justify-content: center;

    @include md {
        padding: 0 15px;
    }

    .wrap {
        position: relative;
        margin-left: -17px;
        width: 1174px;
        height: 342px;
        padding: 70px 120px 60px;
        box-sizing: border-box;
        border-radius: 58px;
        background-image: linear-gradient(91deg, #227eeb -25%, #258aff 1%, #00a4db 51%, #00a1d9 112%);

        @include md {
            width: 100%;
            margin: 0;
            height: 405px;
            padding: 169px 34px 21px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .title {
            width: 570px;
            margin-bottom: 44px;

            @include md {
                width: 100%;
                margin-bottom: 0;
                text-align: center;
            }
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 308px;
            height: 70px;
            border-radius: 35px;
            border: 1px solid #ffffff;
            font-size: 16px;
            font-weight: bold;
            line-height: normal;
            text-decoration: none;
            color: #ffffff;

            @include md {
                width: 100%;
            }
        }

        img {
            position: absolute;
            top: -126px;
            right: 0;

            @include md {
                top: -145px;
                left: 50%;
                transform: translateX(-50%);
                width: 200px;
            }
        }
    }
}

section.info {
    display: flex;
    justify-content: center;
    background-color: #fefdfd;
    position: relative;
    margin-top: 170px;

    @include md {
        margin-top: 130px;
        background-color: #fffffe;
    }

    &::before {
        content: "";
        position: absolute;
        top: -168px;
        width: 100%;
        height: 170px;
        background-image: url(./images/shape_lg.png);
        background-repeat: no-repeat;
        background-size: 100% 170px;
        background-position: center;

        @include md {
            background-image: url(./images/shape_md.png);
            background-size: 1304px 130px;
            background-position: right;
            top: -128px;
            width: 100%;
            height: 130px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 833px;
        bottom: 0;
        background-image: url(./images/w_S.svg);
        background-repeat: no-repeat;
        background-size: 1240px 833px;
        background-position: top left calc((100vw - 1160px) / 2 + 683px);
        z-index: 2;
    }

    .wrap {
        position: relative;
        z-index: 3;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 40px;
        padding-bottom: 95px;
        align-items: center;

        @include md {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            padding-bottom: 83px;
        }

        .content {
            grid-column: span 10;

            @include md {
                grid-column: span 2;
                grid-row: span 1;
            }

            .title {
                color: #020280;
                margin-bottom: 18px;
            }

            .text {
                font-feature-settings: initial;
                margin-bottom: 49px;
                width: 600px;

                @include md {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }

            .list {
                display: flex;
                flex-direction: column;

                .item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 26px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    i {
                        display: flex;
                        align-items: center;
                        width: 44px;
                        height: 44px;
                        flex-shrink: 0;
                        margin-right: 35px;
                        border-radius: 17px;
                        border: 1px solid #258aff;
                        background-color: rgba(7, 194, 245, 0.07);
                        background-image: url(./images/check.svg);
                        background-repeat: no-repeat;
                        background-position: center;

                        @include md {
                            margin-right: 20px;
                        }
                    }

                    span {
                        font-size: 22px;
                        font-weight: 300;
                        color: #020280;

                        @include md {
                            font-size: 16px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }

        figure {
            grid-column: 12 / -1;

            @include md {
                grid-column: span 2;
                grid-row: span 1;
            }

            img {
                @include md {
                    width: 277px;
                    max-width: 100%;
                }
            }
        }
    }
}

section.contact {
    display: flex;
    justify-content: center;
    padding: 77px 0 60px;

    @include md {
        padding: 56px 0 50px;
    }

    .wrap {
        display: flex;
        flex-direction: column;

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 37px;

            @include md {
                margin-bottom: 29px;
            }

            h3 {
                width: 500px;
                margin-left: 10px;

                @include md {
                    width: 100%;
                    margin-left: 0;
                }
            }

            img {
                @include md {
                    display: none;
                }
            }
        }

        & > .list {
            display: flex;
            justify-content: space-between;
            margin-bottom: 77px;

            @include md {
                flex-direction: column;
                margin-bottom: 37px;
            }

            .item {
                display: flex;
                padding-top: 34px;
                width: 354px;
                height: 167px;
                box-sizing: border-box;
                border-radius: 28px;
                border: 1px solid #258aff;

                @include md {
                    width: 100%;
                    margin-bottom: 32px;
                    padding-right: 15px;
                }

                &:nth-of-type(1) {
                    figure {
                        margin-left: 36px;
                    }
                }

                &:nth-of-type(2) {
                    figure {
                        margin-left: 29px;
                    }
                }

                &:nth-of-type(3) {
                    @include md {
                        margin-bottom: 0;
                    }

                    figure {
                        margin-left: 22px;
                    }
                }

                figure {
                    margin-right: 28px;
                }

                div {
                    display: flex;
                    flex-direction: column;

                    span {
                        font-size: 41px;
                        font-weight: bold;
                        line-height: 0.78;
                        color: #258aff;
                        margin-bottom: 12px;

                        @include useCaps;

                        @include md {
                            font-size: 30px;
                            line-height: 33px;
                            margin-bottom: 4px;
                        }
                    }

                    p {
                        width: 230px;
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 1.22;
                        color: rgba(#ffffff, 0.6);

                        @include md {
                            width: 100%;
                            font-size: 20px;
                            line-height: 28px;
                        }
                    }
                }
            }
        }

        .mastercard {
            display: none;

            @include md {
                display: block;
                margin-bottom: 42px;
            }
        }

        h4 {
            padding-left: 10px;

            @include md {
                padding-left: 0;
                margin-bottom: 20px;
            }
        }

        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include md {
                flex-direction: column;
                align-items: flex-start;
            }

            .list {
                display: flex;
                flex-direction: column;

                .item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 21px;

                    &:last-of-type {
                        margin-bottom: 21px;
                    }

                    figure {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 26px;
                        flex-shrink: 0;
                        width: 44px;
                        height: 44px;
                        border-radius: 17px;
                        border: 1px solid #258aff;
                        background-color: rgba(7, 194, 245, 0.07);
                    }

                    a {
                        font-size: 22px;
                        font-weight: 300;
                        line-height: normal;
                        color: rgba(#ffffff, 0.8);
                        text-decoration: none;
                    }
                }
            }

            .map {
                width: 650px;
                height: 278px;
                border-radius: 28px;
                overflow: hidden;

                @include md {
                    width: 100%;
                    height: 278px;
                }

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.num-list {
    display: flex;
    flex-direction: column;

    .item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 18px;
            flex-shrink: 0;
            width: 44px;
            height: 44px;
            border-radius: 17px;
            border: 1px solid #258aff;
            background-color: rgba(7, 194, 245, 0.07);
            color: #258aff;
            font-size: 16px;
            font-weight: bold;
        }

        span {
            font-size: 22px;
            font-weight: 300;
            line-height: normal;
            color: rgba(#ffffff, 0.8);

            @include md {
                font-size: 16px;
            }
        }
    }
}

.title {
    color: #fffffe;
    font-size: 40px;
    line-height: 53px;
    font-weight: bold;

    @include useCaps;

    @include md {
        font-size: 30px;
        line-height: 33px;
    }
}

.text {
    font-size: 22px;
    font-weight: 300;
    color: #00a1d9;
    line-height: normal;

    @include useCaps;

    @include md {
        font-size: 16px;
    }
}
