@font-face {
    font-family: "Linotype";
    src: url(./fonts/Linotype_Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Linotype";
    src: url(./fonts/Linotype_Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: "Linotype";
    src: url(./fonts/Linotype_Roman.otf);
    font-weight: normal;
}
